.my-border {
    border-top: 3px solid springgreen;
    border-left: 3px solid springgreen;
    border-right: 3px solid springgreen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.f-my-border {
    border-left: 3px solid springgreen;
    border-right: 3px solid springgreen;
    border-bottom: 3px solid springgreen;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.my-absolute {
    position: absolute;
    top: 25px;
    position: fixed;
}

.height {
    height: 75vh;
}

.my-margin {
    margin-bottom: 18rem;
}

.my-margin-2 {
    margin-top: 5rem;
}

.my-index {
    height: 385px;
    z-index: 1;
    top: 200px;
    right: 500px;
    position: fixed;
    border: 2px solid silver;
}